#dnsrow{
    display: none;
}
.configtable {
    border-collapse:collapse;
    margin: 6px;
    font-size: 11pt;
    min-width: 400px;
    border: 2px solid black;
    box-shadow: 3px 3px 2px #000
}
.configtable th,.configtable td {
    border: 1px solid black;
    padding: 10px;
}
.configtable th {
    color: #000;
    font-size: 18px;
    text-align: left;
}
.configtable td {
    width: 50%;
}
.configtable tr {
    background-color: lavender;
    transition: background-color 0.5s ease;
}
.configtable tr:hover {
    background-color: #fff;
}
