body {
  border: 0;
  margin: 0;
  width: 460px;
  padding: 0 1px;
  overflow: hidden;
}

table tr td {
  padding: 0;
  text-align: center;
  transition: 300ms ease all;
  font-family: arial, sans-serif;
  -moz-transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
}

p {
  padding: 10px;
  color: #7c4698;
  margin: 5px 0 0 0;
  user-select: none;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.content {
  width: 100%;
  height: 100%;
}

.controls, .footer {
  width: 100%;
  font-size: 12px;
  border-spacing: 0;
}

.controls {
  height: 100%;
  table-layout: fixed;
}

.footer {
  height: 36px;
  border-left: 0;
  border-right: 0;
  margin-top: 5px;
  border-top: solid 1px rgba(0,0,0,0.05);
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

#ip {background: url("icons/ip.png") no-repeat center center}
#check {background: url("icons/check.png") no-repeat center center}
#reload {background: url("icons/reload.png") no-repeat center center}
#support {background: url("icons/support.png") no-repeat center center}
#install {background: url("icons/install.png") no-repeat center center}

#ip, #check, #support, #install, #reload {
  background-size: 14px;
  cursor: pointer;
  width: 32px;
}

#status {
  height: 36px;
  color: #58316b;
  font-size: 12px;
  user-select: none;
  text-align: center;
  font-family: monospace;
}

#ON, #OFF {
  height: 90px;
  cursor: pointer;
  border-bottom: solid 1px transparent;
}

#ON {background: url("../icons/ON/128.png") no-repeat center center}
#OFF {background: url("../icons/OFF/128.png") no-repeat center center}

#ON[type="active"] {border-bottom: solid 1px #7c4698}
#OFF[type="active"] {border-bottom: solid 1px #a8a8a8}

#ON, #OFF {background-size: 52px}

#whitelist {
  color: #333;
  height: 72px;
  margin: 0 auto;
  font-size: 12px;
  padding: 1px 5px;
  font-family: monospace;
  width: calc(100% - 20px);
  border: solid 1px rgba(0,0,0,0.1);
}

#ip:hover,
#ON:hover,
#OFF:hover,
#check:hover,
#reload:hover,
#install:hover,
#support:hover {
  background-color: rgba(0,0,0,0.05) !important;
}

#ip:active,
#ON:active,
#OFF:active,
#check:active,
#reload:active,
#install:active,
#support:active {
  opacity: 0.7;
}
